<section class="section5">
    <div class="box5">
        <span class="text1"><h4>How to get started?</h4></span>
        <span class="text2">Simple 4 step process</span><br>
      </div>

    
    <div class="Subbox5">

        

        <div class="card" style="width: 18rem;">
            <img class="cicrleImg" src="../assets/images/Group6665.svg" >
            <div class="card-body">
              
              <p class="card-text">Explore & know <br>‘<span class="blue"><a href="#">How to develop?</a></span>’</p>
              
            </div>
          </div>
          <img class="arrow" src="../assets/images/Group6647.svg">
          <div class="card" style="width: 18rem;">
            <img class="cicrleImg" src="../assets/images/Group6666.svg" >
            <div class="card-body">
              
              <p class="card-text cardText2"><span class="blue"><a href="#"><u>Submit</u></a></span> Concept<br>Application</p>
              
            </div>
          </div>
          
          <img class="arrow" src="../assets/images/Group6647.svg" >

          <div class="card" style="width: 18rem;">
            <img  class="cicrleImg" src="../assets/images/Group6667.svg" >
            <div class="card-body">
              
              <p class="card-text cardText3"><span class="blue"><a href="#"><u>Sign up</u></a></span> to access to access <br>the tools & SDKs</p>
              
            </div>
          </div>

          <img class="arrow" src="../assets/images/Group6647.svg">

          <div class="card" style="width: 18rem;">
            <img class="cicrleImg"  src="../assets/images/Group6724.svg" >
            <div class="card-body">
              
              <p class="card-text cardText4">Publish and <br>Monetise</p>
              
            </div>
          </div>
    </div> 
    
</section>