<section class="section4">

    <div class="box4">
        <span class="glassImg"> <img src="../assets/images/GlassImage.png" alt=""></span>
        <span class="text1"><h4> <img src="../assets/images/reminder.svg" alt=""> JioGlass Launch Program 2021</h4></span>
        <span class="text2">  Will be initially launched in June 2021 & then finally to the consumer market by December 2021.</span><br>
        <span >
            <span class="text31"><a href="#">Keep me updated </a> <img src="../assets/images/LeftPointArrowdown.svg" alt=""></span>
            <span class="text32"><a href="#">Submit concept </a> <img src="../assets/images/LeftPointArrowdown.svg" alt=""></span>
        </span>
    </div>  
</section>