<nav class="navbar navbar-expand-sm navbar-dark bg-white nav2" [class.header-change]="header_variable">
    <img class='Icon2' src="../assets/images/Icon2.svg" alt=""> 

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbaraid">
        <div class="hamburger"><img  src="../assets/images/jioIcon.svg" alt=""></div>
    </button>
    

    <div class="collapse navbar-collapse" id="navbaraid">
        <ul class="navbar-nav ml-auto text-center">
        
          <li class="nav-item ">
          <a href="#" class="nav-linkone" >JIO GLASS</a>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-linkone">EXPERIENCE</a>
            </li>
        
          <li class="nav-item">
          <a href="#" class="nav-linkone">DEVELOPERS</a>
          </li>
        
          <li class="nav-item">
          <a href="#" class="nav-linkone">CAREERS</a>
          </li>
        
        </ul>
        </div>
    </nav>

<!--- nav2 -->    
    <div  id='n1' [class.Secondheader-change]="Secondheader_variable">
     <div class="container" >
        <p style="color: antiquewhite;">
          <span><img  src="../assets/images/Group6571.svg"><a href="#" >Why to DEVELOP?</a></span>
          <span><img  src="../assets/images/Iconquestionmark.svg"><a href="#">How to DEVELOP?</a></span>
          <span><img  src="../assets/images/Icondownload.svg"><a href="#">DOWNLOADS</a></span>
          <span><img  src="../assets/images/Iconusers.svg"><a href="#">COMMUNITY</a></span>
          <span><img  src="../assets/images/Icondownload1.svg"><a href="#">SIGN in / SIGN UP</a></span>
        </p>
      </div> 
    </div>
    
<!--Section1-->   
<app-section1></app-section1>
<app-section2></app-section2>
<app-section3></app-section3>
<app-section4></app-section4> 
<app-section5></app-section5> 
<app-section6></app-section6>
<app-section7></app-section7>  