<section class="section7">
   
    
<div class="Subbox5">
          <div class="card" style="width: 18rem;">
           
            <div class="card-body">
                <div class="firstcontainer">
                    <p class="card-text">JioGlass</p>
                    <p class="card-text">Product</p>
                </div>  

                <div class="secondcontainer">
                    <p class="card-text">for Consumers</p>
                    <p class="card-text">Consumer experiences</p>
                </div>
            
                <div class="thirdcontainer">
                    <p class="card-text">for Enterprises</p>
                    <p class="card-text">Enterprise experiences</p>
                </div> 

            </div>
          </div>
  

          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              
                <div class="firstcontainercol2">
                    <p class="card-text">for Developers</p>
                    <p class="card-text">Why to Develop?<br>Why to Develop?<br>Downloads<br>Community<br>Sign up</p>
                </div>  

                <div class="secondcontainercol2">
                    <p class="card-text">Careers</p>
                    <p class="card-text">Opportunities</p>
                </div>
              
            </div>
          </div>



          <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              
                <div class="firstcontainercol3">
                    <p class="card-text">Contact</p>
                    <p class="card-text">Corporate Office Tesseract Imaging Ltd, T22, Reliance Corporate Park, Navi Mumbai, India - 400701
                        <br><br>
                        Mail us @ info@tesseract.in
                    </p>
                
                </div>  

                <div class="secondcontainercol3">
                    <p class="card-text">Follow us</p>
                    <p class="card-text">
                        <span><img src="../assets/images/Group6723.svg"></span>
                        <span><img src="../assets/images/Group6688.svg"></span>
                        <span><img src="../assets/images/Group6690.svg"></span>
                    </p>
                </div>
              
            </div>
          </div>
</div> 

<div class="lastText">
    <p class="card-text">Design & Copyright | Jio Tesseract</p>
</div>
    
</section>