
<section class="rectanglethree">
  <div class="box">
    <span class="text1"><h4>Jio Tesseract Developer Platform</h4></span>
    <span class="text2">Be a part building apps for the future of mixed reality with JioGlass</span><br>
    <span >
            <span class="text31">Start developing <img src="../assets/images/LeftPointArrowdown.svg" alt="">
            </span>
            <span class="text32">Download Kits <img src="../assets/images/LeftPointArrowdown.svg" alt=""></span>
    </span>
  </div>
  <img class="Group-33"  src="../assets/images/developerBackground.png" alt="">
</section>
