<section class="section6">

    
    <div class="box3">
                   
        <div class="subBox1">
                
                <div class="content1">
                    <p class="t1">How to Develop?</p>
                    <p class="t2">India had nearly 700 million internet users across the country. This figure is projected to grow to over 974 million users by 2025. Be a part of this digital growth now.</p>
                    <p class="t3"><a href="#">Know more <img src="../assets/images/LeftPointArrowdown.svg"></a> </p> 
                </div>
                <div class="content2" >
                    <p class="t4"><a href="#">Sign up <img src="../assets/images/LeftPointArrowdown.svg"></a> </p>
                </div>
        </div>

      
    </div>

</section>

