<section class="section2">

    
    <div class="box3">
                   <h4><p class="subBox3">Develop for the next Billion internet users</p></h4>
        <div class="subBox1">
                <div class="image1">
                    <img src="../assets/images/Mobile.png" alt="">
                </div>
                <div class="content1">
                    <p class="t1">The Immediate growth</p>
                    <p class="t2">India had nearly 700 million internet users across the country. This figure is projected to grow to over 974 million users by 2025. Be a part of this digital growth now.</p>
                    <p class="t3"><a href="#">Start developing <img src="../assets/images/LeftPointArrowdown.svg"></a> </p> 
                </div>
        </div>

        <div class="subBox2">
            <div class="image2">
                <img src="../assets/images/city.png" alt="">
            </div>
            <div class="content2">
                <p class="t1">5G Network growth</p>
                <p ><span class="t21"><i>“I assure you that Jio will pioneer the 5G revolution in India in the second half of 2021. It will be powered by indigenous-developed network, hardware and technology components”</i></span><br> <span class="t2"><i> - Mukesh D. Ambani</i></span></p>
                <p class="t3"><a href="#">Sign up now <img src="../assets/images/LeftPointArrowdown.svg"></a> </p>    
            </div>
    </div>
    </div>

</section>

